html,body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: black;
}
#zinemaker {
	position:relative;
	width: -moz-calc(100vw - 5px);
	width: -webkit-calc(100vw - 5px);
	width: -o-calc(100vw - 5px);
	width: calc(100vw - 5px);
    height: 100vh;
    margin: 0 auto;
}
#zinemaker .window-wrapper{
	overflow-y: scroll;
	/* Firefox */
	height: -moz-calc(100vh - 14px - 9px);
	height: -webkit-calc(100vh - 14px - 9px);
	height: -o-calc(100vh - 14px - 9px);
	height: calc(100vh - 14px - 9px);
}
#zinemaker .overlay{
	display: none;
	pointer-events: none;
}
#zinemaker.highlight .overlay{
	background: rgba(0, 0, 0, 0.4);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#sheets{
	min-height: 200px;
}
#sheets img{
	border: 1px solid rgb(180,180,180);
	width: 100%;
	height: auto;
}
.field-row label{
	width: 70px;
	text-align: right;
}
.field-col:nth-child(3) {
	padding-left: 30px;
}
.field-col {
	display: table-cell;
	width: 50%;
}